* {
    /* outline: 1px dotted black; */
    margin: 0px auto;
    padding: 0px;
}

.wrapper {
    width: 970px;
    min-height: 600px;
    padding: 30px;
    background-color: beige;
}

label,
input {
    display: inline-block;
    margin-bottom: 5px;
}

label {
    width: 100px;
}

.submit-btn {
    margin-top: 30px;
    margin-left: 179px;
    background-color: lightskyblue;
    width: 90px;
    height: 25px;
}

h1 {
    margin-bottom: 15px;
}

#page-header {
    height: 40px;
    padding: 0px;
    margin-bottom: 10px;
}

#page-header h2,
#page-header h3,
#page-header h4 {
    display: inline-block;
    color: black;
    margin-top: 0px;
}

#page-header h2 {
    width: 750px;
}

#page-header h3,
#page-header h4 {
    margin-right: 10px;
}

#page-header a {
    width: 90px;
    text-align: right;
    color: blue;
}

#home-logout {
    margin-left: 600px;
    margin-right: 20px;
}

#submit-add {
    margin-left: 600px;
}

#q-section {
    width: 400px;
    height: 500px;
    border: 1px solid black;
    display: inline-block;
    overflow: auto;
}

#f-section {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    margin-left: 100px;
    overflow: auto;
}

#fav-top {
    background-color: beige;
    margin-top: 10px;
    margin-left: 20px;
    width: 138px;
}

#add-quote {
    width: 300px;
    height: 180px;
    display: inline-block;
    /* border: 1px solid black; */
    margin-left: 600px;
}

.in-quote {
    width: 300px;
    height: 100px;
    border: 1px solid black;
    margin: 5px 5px;
    padding: 5px;
}

.post-by {
    display: inline-block;
    margin-right: 40px;
}

.info-name {
    color: brown;
    display: inline-block;
}

.info-msg {
    margin-bottom: 20px;
}