<!DOCTYPE html>
<html lang="en">

<head>
    <title>Create Item</title>
    <!-- linking a css style sheet -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'login_and_registration/css/index.css' %}">
</head>

<body>
    <div class="wrapper">
        {% if messages %} {% for message in messages %}
        <h1 style="color:orange">{{message}}</h1>
        {% endfor %} {% endif %}

        <div id="page-header">
            <h3>Hello, </h3>
            <h3>{{request.session.user_name}}!</h3>
            <a id="home-logout" href="/dashboard">Home</a>
            <a href="/logout">logout</a>

        </div>
        <h2>Create a New Wish List Item</h2>
        <br>
        <br>
        <form action='/addProduct' method='POST'>
            {% csrf_token %}
            <div>
                <label>Item/Product: </label>
                <input type="text" id="#" name="product">
            </div>
            <input style="Margin-left:250px;" class="submit-add" type="submit" name="add-product" value="Add">
        </form>
    </div>
</body>

</html>