<!DOCTYPE html>
<html lang="en">

<head>
    <title>Users list</title>
    <!-- linking a css style sheet -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'login_and_registration/css/index.css' %}">
</head>

<body>
    {# {{quote_info}} #}
    <div class="wrapper">
        <div id="page-header">
            <h3>Hello, </h3>
            <h3>{{request.session.user_name}}!</h3>
            <a id="home-logout" href="/quotes">Dashboard</a>
            <a href="/logout">logout</a>
        </div>
        <h3>Postes by: {{request.session.post_by_name}}</h3>
        <h3>Count: {{request.session.num_info}}</h3>
        <br>
        <br>{% for info in quote_info %}
        <h4 class="info-name">{{info.quote_name}}: </h4>
        <h4 class="info-msg">{{info.quote_message}}</h4>
        {% endfor %}




    </div>
</body>

</html>