<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Wish List</title>
    <!-- linking a css style sheet -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'login_and_registration/css/index.css' %}">
</head>

<body>
    <div class="wrapper">
        <div id="page-header">
            <h3>Hello, </h3>
            <h3>{{request.session.user_name}}!</h3>
            <a id="home-logout" href="/logout">logout</a>
        </div>
        <h3>Your Wish List</h3>
        {# {{item_all}} #}
        <table id="user-wish" cellspacing="0">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Added by</th>
                    <th>Date added</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="add-row">
                {% for item in item_all %}
                <tr>
                    <td><a href="/dispList/{{item.item_id}}">{{item.item_name}}</a></td>
                    <td>{{item.added_by}}</td>
                    <td>{{item.date_added}}</td>
                    {% if item.user_id == request.session.user_id %}
                    <td><a href="/delete/{{item.item_id}}">Delete</a></td>
                    {% else %}
                    <td><a href="/remove/{{item.item_id}}">Remove from my wishlist</a></td>
                    {% endif %}
                </tr>{% endfor %}

            </tbody>
        </table>
        {# {{other_list}} #}
        <h3>Other Users' Wish List</h3>
        <table id="other-wish" cellspacing="0">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Added by</th>
                    <th>Date added</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="add-row">
                {% for item in other_list %}
                <tr>
                    <td><a href="/dispList/{{item.item_id}}">{{item.item_name}}</a></td>
                    <td>{{item.added_by}}</td>
                    <td>{{item.date_added}}</td>
                    <td><a href="/addWishList/{{item.item_id}}">Add to my wishlist</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a id="submit-add" href="/wish_items/create">Add Item</a>
    </div>
</body>

</html>