<!DOCTYPE html>
<html lang="en">

<head>
    <title>Page 2</title>
    <!-- linking a css style sheet -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'login_and_registration/css/index.css' %}">
</head>

<body>
    <div class="wrapper">
        <div id="page-header">
            <h2>CodingDojo</h2>
            <h3>Welcome</h3>
            <h4>{{request.session.user_name}}</h4>
            <a href="/login_and_registration/logout">log off</a>
        </div>
        <h2 style="color:indianred">H Mart</h2>
    </div>
</body>

</html>